:root {
  --transparent: rgba(0, 0, 0, 0);
  --primary: #101010;
  --secondary: #1A1A1A;
  --dim1: #CBCBCB;
  --dim1-5: #ABABAB;
  --dim2: #8A8A8A;
  --dim2-5: #606060;
  --dim3: #363636;
  --dim4: #2F2F2F;
  --dim5: #272727;
  --dim6: #212121;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --transition-normal: 150ms ease-in-out;
  --transition-fast: 100ms ease-in-out;
  --nav-width: 250px;
}