:root {
  --transparent: rgba(0, 0, 0, 0);
  --primary: #101010;
  --secondary: #1A1A1A;
  --dim1: #CBCBCB;
  --dim1_5: #A0A0A0;
  --dim2: #8A8A8A;
  --dim3: #363636;
  --dim4: #2F2F2F;
  --dim5: #212121;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --transition-normal: 150ms ease-in-out;
  --transition-fast: 100ms ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

div.root {
  width: 100%;
  height: 100%;
}

span {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

p {
  color: white;
  user-select: none;
  letter-spacing: 0.1rem;
}

img {
  user-select: none;
}

img.center {
  display: block;
  margin: auto;
}

svg {
  pointer-events:none;
}

button,
input {
    font-family: inherit;
}

button {
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

button.default {
  font-weight: 500;
  padding: 10px 15px;
  user-select: none;
  transition: var(--transition-normal);
  background-color: white;
  color: black;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-wrapper button.default {
  pointer-events: none;
}

.button-wrapper:hover button.default {
  transition: var(--transition-fast);
  box-shadow: 0 0 10px var(--dim1);
}

.button-wrapper:active button.default {
  transform: scale(0.95);
  transition: var(--transition-fast);
}

input:not([type=submit]) {
  width: 100%;
  background-color: var(--dim4);
  color: var(--dim1);
  border: none;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
  outline: 1px solid var(--transparent);
  transition: var(--transition-fast);
}

input:not([type=submit]):hover {
  transition: var(--transition-fast);
  box-shadow: 0 0 5px var(--dim2);
}

input:not([type=submit]):focus {
  outline: 2px solid var(--dim1);
  transition: var(--transition-fast);
}

input:not([type=submit]).iconned {
  padding-left: 42px;
}

input:not([type=submit]):not(:placeholder-shown) + svg {
  color: white;
  transition: var(--transition-normal);
}

input::placeholder {
  color: var(--dim2);
  opacity: 1;
}

.inputicon-container {
  position: relative;
}

.inputicon-container svg {
  position: absolute;
}
