* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--secondary);
}

div.root {
  width: 100%;
  height: 100%;
}

span {
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--transparent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dim2-5);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

p {
  color: white;
  user-select: none;
}

img {
  user-select: none;
   max-width: 100px;
  height: auto;
}

img.center {
  display: block;
  margin: auto;
}

svg {
  pointer-events:none;
}

button,
input {
  font-family: inherit;
}

button {
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  user-select: none;
  background-color: var(--transparent);
  transition: var(--transition-fast);
}

button.full {
  width: 100%;
}

button.default {
  font-weight: 500;
  padding: 10px 15px;
  user-select: none;
  transition: var(--transition-normal);
  background-color: white;
  color: black;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-wrapper button.default {
  pointer-events: none;
}

.button-wrapper:hover button.default {
  transition: var(--transition-fast);
  box-shadow: 0 0 10px var(--dim1);
}

.button-wrapper:active button {
  transform: scale(0.925);
  transition: var(--transition-fast);
}

input:not([type=submit]) {
  width: 100%;
  background-color: var(--dim4);
  color: var(--dim1);
  border: none;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
  outline: 1px solid var(--transparent);
  transition: var(--transition-fast);
}

input:not([type=submit]):hover {
  transition: var(--transition-fast);
  box-shadow: 0 0 5px var(--dim2);
}

input:not([type=submit]):focus {
  outline: 2px solid var(--dim1);
  transition: var(--transition-fast);
}

input:not([type=submit]).iconned {
  padding-left: 42px;
}

input:not([type=submit]):not(:placeholder-shown) + svg {
  color: white;
  transition: var(--transition-normal);
}

input::placeholder {
  color: var(--dim1-5);
  opacity: 1;
}

.inputicon-container {
  position: relative;
}

.inputicon-container svg {
  position: absolute;
}

hr {
  border-radius: 5px;
  border: 2.5px solid var(--dim3);
}

main {
  padding: 0px;
}