:root {
  --transparent: rgba(0, 0, 0, 0);
  --primary: #101010;
  --secondary: #1A1A1A;
  --dim1: #CBCBCB;
  --dim2: #8A8A8A;
  --dim3: #363636;
  --dim4: #2F2F2F;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --transition-normal: 200ms ease-in-out;
  --transition-fast: 150ms ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

div.layout {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: white;
  user-select: none;
  letter-spacing: 0.1rem;
}

img {
  user-select: none;
}

img.center {
  display: block;
  margin: auto;
}

button,
input {
    font-family: inherit;
}

button {
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  user-select: none;
  transition: var(--transition-normal);
}

button:hover {
  transform: scale(0.965);
  transition: var(--transition-normal);
}

::placeholder, ::-ms-input-placeholder {
  color: var(--dim2);
  opacity: 1;
}

.inputicon-container {
  position: relative;
}

.inputicon-container svg {
  position: absolute;
}