.landing main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--primary);
}

.login-container {
  display: block;
  width: 450px;
  height: 700px;
  background-color: var(--secondary);
  border-radius: 15px;
  padding: 0 40px;
}

img.logofull{
  margin: 3.5rem auto 3.5rem auto;
}

.message-container {
  margin: 0 0 2rem 0;
}

.landing p {
  text-align: left;
  font-size: 24px;
}

.landing form {
  display: grid;
  row-gap: 2rem;
  margin: 0 0 6.5rem 0;
}

.email svg {
  width: 20px;
  left: 14px;
  top: 10px;
  color: var(--dim1-5);
  transition: var(--transition-normal);
}

.password svg {
  width: 20px;
  left: 14px;
  top: 12px;
  color: var(--dim1-5);
  rotate: 45deg;
  transition: var(--transition-normal);
}

.username svg {
  width: 20px;
  left: 14px;
  top: 10px;
  color: var(--dim1-5);
  transition: var(--transition-normal);
}

button.noaccount {
  background-color: var(--transparent);
  outline: 2px solid var(--dim2);
  color: var(--dim2);
  width: 100%;
}

.button-wrapper:hover button.noaccount {
  transition: var(--transition-fast);
  box-shadow: 0 0 12px var(--dim2);
}

.backicon {
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 20px;
  transition: var(--transition-normal);
}

.back-wrapper {
  margin: 0 10px 0 0 ;
  height: 30px;
}

a.backlink {
  height: 30px;
}

a.backlink:hover .backicon {
  transition: var(--transition-fast);
  box-shadow: 0 0 9px var(--dim2-5);
  background-color: var(--dim3);
}

a.backlink:active .backicon {
  transition: var(--transition-fast);
  box-shadow: 0 0 9px var(--dim2-5);
  background-color: var(--dim3);  transform: scale(0.925);
}
