body {
  background-color: var(--primary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  display: block;
  width: 450px;
  height: 700px;
  background-color: var(--secondary);
  border-radius: 15px;
  padding: 0 40px;
}

img.logo {
  margin: 3.5rem auto 3.5rem auto;
}

p {
  text-align: left;
  font-size: 24px;
  margin: 0 0 2rem 0;
}

form {
  display: grid;
  row-gap: 2rem;
  margin: 0 0 7rem 0;
}

input:not([type=submit]) {
  width: 100%;
  background-color: var(--dim4);
  color: var(--dim1);
  border: none;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
  outline: 2px solid var(--transparent);
  transition: var(--transition-normal);
}

input:not([type=submit]):focus {
  outline: 2px solid var(--dim1);
  transition: var(--transition-normal);
}

input:not([type=submit]).iconned {
  padding-left: 42px;
}

input:not([type=submit]):not(:placeholder-shown) + svg {
  color: white;
  transition: var(--transition-normal);
}

.email svg {
  width: 20px;
  left: 14px;
  top: 10px;
  color: var(--dim2);
  transition: var(--transition-normal);
}

.password svg {
  width: 20px;
  left: 14px;
  top: 11px;
  color: var(--dim2);
  rotate: 90deg;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

button.full {
  width: 100%;
}

button.white {
  background-color: white;
  color: black;
}

button.noaccount {
  background-color: var(--transparent);
  border: 2px solid var(--dim2);
  color: var(--dim2);
}
