.mainapp {
  background-color: white;
  flex-direction: row;
  align-items: center
}

.mainapp nav {
  background-color: var(--primary);
  width: var(--nav-width);
  height: 100%;
  padding: 0 15px;
  position: fixed;
  justify-content: space-between;
}

.mainapp main {
  width: calc(100% - var(--nav-width));
  left: var(--nav-width);
  height: 100%;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  position:fixed;
  overflow-y:scroll;
}

.mainapp img.logo {
  margin: 25px auto;
}

.mainapp .nav-main-buttons {
  display: grid;
  row-gap: 3px;
}

.mainapp .nav-main-buttons button {
  height: 60px;
  border-radius: 10px;
  color: var(--dim2);
  background-color: var(--transparent);
  transition: var(--transition-fast);
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.mainapp .nav-main-buttons button:hover {
  background-color: var(--secondary);
  transition: var(--transition-fast);
}

.mainapp .nav-main-buttons button.active {
  background-color: var(--dim3);
  transition: var(--transition-fast);
  color: white;
}

.mainapp .nav-main-buttons svg {
  width: 20px;
  height: 20px;
  margin: auto 15px auto 20px;
}
