.game-grid {
   margin: 0 auto;
   display: grid;
   gap: 30px;
   justify-items: center;
   justify-content: space-between;
   margin: 0;
   grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 700px) {
   .game-grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (min-width: 910px) {
   .game-grid {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (min-width: 1120px) {
   .game-grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media screen and (min-width: 1330px) {
   .game-grid {
      grid-template-columns: repeat(5, 1fr);
   }
}

@media screen and (min-width: 1540px) {
   .game-grid {
      grid-template-columns: repeat(6, 1fr);
   }
}

@media screen and (min-width: 1750px) {
   .game-grid {
      grid-template-columns: repeat(7, 1fr);
   }
}

.game-grid .game-poster {
   width: 180px;
   height: 240px;
   border-radius: 10px;
   transition: var(--transition-normal);
}

.game-grid .game-name {
   margin: 10px 0 8px 0;
}

.game-grid .game-price {
   color: var(--gray2);
}

.game-grid .card {
   cursor: pointer;
   transition: var(--transition-fast);
   max-width: 180px;
   height: 320px;
   overflow-wrap: break-word;
}

.game-grid .card:hover .game-poster {
   box-shadow: 0 0 5px white;
   transition: var(--transition-normal);
}

.game-grid .card:active {
   transition: var(--transition-fast);
   scale: 0.965;
}

.game-grid .card p {
   width: 100%;
}

.game-grid .card-sub {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.game-grid .card-sub svg {
   color: var(--gray2);
}

main hr {
   border: 2.5px solid var(--gray6);
}