.game-grid {
   margin: 0 auto;
   display: grid;
   gap: 30px;
   justify-items: center;
   justify-content: space-between;
   margin: 0;
   grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 700px) {
   .game-grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (min-width: 910px) {
   .game-grid {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (min-width: 1120px) {
   .game-grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media screen and (min-width: 1330px) {
   .game-grid {
      grid-template-columns: repeat(5, 1fr);
   }
}

.game-grid .game-poster {
   width: 180px;
   height: 240px;
   border-radius: 10px;
   transition: var(--transition-normal);
}

.game-grid .game-name {
   margin: 10px 0 8px 0;
}

.game-grid .game-price {
   color: var(--gray2);
}

.game-grid .card {
   cursor: pointer;
   transition: var(--transition-fast);
   max-width: 180px;
   height: 320px;
   overflow-wrap: break-word;
}

.game-grid .card:hover .game-poster{
   box-shadow: 0 0 5px white;
   transition: var(--transition-normal);
}

.game-grid .card:active {
   transition: var(--transition-fast);
   scale: 0.965;
}

.game-grid .card p {
   width: 100%;
   -webkit-line-clamp: 2;
}

.game-grid .card-sub {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.game-grid .card-sub svg {
   color: var(--gray2);
}

.storepage {
   padding-top: 25px;
}

.storepage .button-back {
   height: 32px;
}

/* Slideshow container */
.storepage .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.storepage .mySlides {
  display: none;
}

/* Next & previous buttons */
.storepage .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.storepage .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.storepage .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.storepage .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.storepage .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.storepage .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.storepage .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.storepage .fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.storepage .slideshow-controller {
   text-align: center;
}
