main .header {
   position: relative;
   margin: 20px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
main .header h1 {
   position: absolute;
   left: 0px;
}
 
@media screen and (max-width: 1100px) {
   main .header h1.hidable {
      color: var(--transparent);
      transition: var(--transition-normal);
   }
}
 
main .header .searchicon svg {
   width: 20px;
   height: 20px;
   left: 11px;
   top: 8px;
   transition: var(--transition-slow);
}
 
main .header .searchbox-wrapper {
   width: 100%;
   max-width: 500px;
}
 
main .header input {
   font-size: 16px;
   padding: 8px 15px;
}
 
main .header input:not([type=submit]):not(:placeholder-shown) + svg {
   color: white;
   transition: var(--transition-slow);
}
 
main .header input.iconned {
   padding-left: 35px;
}

main .header input + svg {
   color: var(--gray3);
   transition: var(--transition-slow);
}

main .header .hr-header {
   border: 2.5px solid var(--gray);
}

main .hr-header {
   margin-bottom: 25px;
}