:root {
   --transparent: rgba(0, 0, 0, 0);
   --black-primary: #101010;
   --black-secondary: #1A1A1A;
   --gray1: #CBCBCB;
   --gray2: #ABABAB;
   --gray3: #8A8A8A;
   --gray4: #606060;
   --gray5: #363636;
   --gray6: #2F2F2F;
   --gray7: #272727;
   --gray8: #212121;
   --light: 400;
   --regular: 500;
   --medium: 600;
   --semibold: 700;
   --transition-slow: 150ms ease-out;
   --transition-normal: 100ms ease-out;
   --transition-fast: 50ms ease-out;
   --nav-width: 250px;
}